@import 'bootstrap.min.scss';

//@import 'font-awesome.min.css';
//@import 'smartadmin-production.css';
//@import 'smartadmin-skins.css';

div[scroll] {
  overflow-y: auto;
}

.right{
  float: right;
}

.text-overflow {
  white-space: nowrap;       /* Перво-наперво, запретим перенос строк */
  overflow: hidden;          /* Скрываем текст, который не помещается в блок */
  text-overflow: ellipsis;   /* Уводим текст в многоточие */
  display: block;            /* Элемент обязательно должен быть блочным */
}

#logo img {
  width: 145px !important;
}

#logo {
  //  display: inline-block;
  //  margin-left: 9px;
  margin-top: 5px !important;
  //  width: 175px;
}

//.page-footer {
//  background: none repeat scroll 0 0 #2a2725;
//  border-top: 1px solid #cecece;
//  bottom: 0;
//  display: block;
//  height: 52px;
//  padding: 15px 13px 0 233px;
//  position: absolute;
//  width: 100%;
//}

.header-btn {
  margin-right: 5px;
}

.input-td label input.checkbox[type="checkbox"] + span,
.input-td label input.checkbox[type="checkbox"] + span:before,
.input-td label input.radiobox[type="radio"] + span,
.input-td label input.radiobox[type="radio"] + span:before{
  margin-right:0;
}


.wys_editor { border:1px solid #dedede; background:#fff;}
.markItUpHeader { overflow:hidden; padding:5px 2px; background:url(/main/img/bbcode_top.png) repeat-x 0 0;}
.wiki_editor { background:#f8f8f8; color:#000; border:none; padding:10px; width:100%; height:80px; margin:0; overflow:auto; resize:vertical; vertical-align:top; box-sizing:border-box; font:11px/1.5 "PT Sans", "MP", Arial, sans-serif;}
.markItUpPreview { margin: 10px 0}

.com_mess ul,
.com_mess ol,
.markItUpPreview ul,
.markItUpPreview ol
{
  padding-left: 1.4em;
}

.com_mess ul,
.markItUpPreview ul
{
  list-style-type: disc;
}

.com_mess ul ul,
.markItUpPreview ul ul
{
  list-style-type: circle;
}

.com_mess ol,
.markItUpPreview ol
{
  list-style-type: decimal;
}

.com_mess ol ol,
.markItUpPreview ol ol
{
  list-style-type: lower-alpha;
}

.com_mess h2,
.markItUpPreview h2
{
  font-size: 1.2em;
}
.com_mess h3,
.markItUpPreview h3 {
  font-size: 1.4em;
}

.com_mess h4,
.markItUpPreview h4 {
  font-size: 1.5em;
}
.com_mess h2,
.com_mess h3,
.com_mess h4,
.markItUpPreview h2,
.markItUpPreview h3,
.markItUpPreview h4
{
  font-weight: bold;
}
.bbcode_top ul { list-style:none; padding:0; margin:0; overflow:hidden;}
.bbcode_top ul li { display:inline-block; float:left;}
.bbcode_button_seperator { display:none;}
.bbcode_top a { display:block !important; height:25px;}
a.bbcode_H1 { background:url("/main/img/bb_i.png") no-repeat -390px 0; width:25px;}
a.bbcode_H2 { background:url("/main/img/bb_i.png") no-repeat -360px 0; width:25px;}
a.bbcode_H3 { background:url("/main/img/bb_i.png") no-repeat -330px 0; width:25px;}
a.bbcode_b { background:url("/main/img/bb_i.png") no-repeat -305px 0; width:25px;}
a.bbcode_i { background:url("/main/img/bb_i.png") no-repeat -284px 0; width:25px;}
a.bbcode_U { background:url("/main/img/bb_i.png") no-repeat -268px 0; width:25px;}
a.bbcode_S { background:url("/main/img/bb_i.png") no-repeat -250px 0; width:25px;}
a.bbcode_align { background:url("/main/img/bb_i.png") no-repeat -232px 0; width:25px;}
a.bbcode_hidden_text { background:url("/main/img/bb_i.png") no-repeat -209px 0; width:25px;}
a.bbcode_picture { background:url("/main/img/bb_i.png") no-repeat -89px 0; width:25px;}
a.bbcode_list_num { background:url("/main/img/bb_i.png") no-repeat -150px 0; width:24px;}
a.bbcode_list_num_sub { background:url("/main/img/bb_i.png") no-repeat -130px 0; width:25px;}
a.bbcode_list { background:url("/main/img/bb_i.png") no-repeat -189px 0; width:24px;}
a.bbcode_list_sub { background:url("/main/img/bb_i.png") no-repeat -168px 0; width:25px;}
a.bbcode_table { background:url("/main/img/bb_i.png") no-repeat -209px 0; width:25px;}
a.bbcode_th { background:url("/main/img/bb_i.png") no-repeat -209px 0; width:25px;}
a.bbcode_tr { background:url("/main/img/bb_i.png") no-repeat -209px 0; width:25px;}
a.bbcode_td { background:url("/main/img/bb_i.png") no-repeat -209px 0; width:25px;}
a.bbcode_link { background:url("/main/img/bb_i.png") no-repeat -69px 0; width:25px;}
a.bbcode_internal_link { background:url("/main/img/bb_i.png") no-repeat -230px 0; width:25px;}
a.bbcode_image { background:url("/main/img/bb_i.png") no-repeat -89px 0; width:25px;}
a.bbcode_music { background:url("/main/img/bb_i.png") no-repeat -110px 0; width:25px;}
a.bbcode_box { background:url("/main/img/bb_i.png") no-repeat -3px 0; width:25px;}
a.bbcode_dynamic { background:url("/main/img/bb_i.png") no-repeat -28px 0; width:25px;}
a.bbcode_video { background:url("/main/img/bb_i.png") no-repeat -48px 0; width:25px;}
a.custom_a { color:#8b8b8b; text-decoration:none; width:auto; font-size:12px; line-height:23px; padding:0 6px;}
.attach_form { font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#7F8A99; width:200px;}
.attach_form ul { list-style:none outside none; padding:0; margin:0;}
.attach_form ul li { display:inline-block; float:left;}
.attach_form .form_input_left { background:url("/main/img/form_input.png") no-repeat left 0 transparent; height:28px; width:10px;}
.attach_form .form_input_center { background:url("/main/img/form_input.png") no-repeat center 0 transparent; height:28px; width:57%;}
.attach_form .top_file .form_input_center { width:25%;}
.attach_form .form_input_right { background:url("/main/img/form_input.png") no-repeat right 0 transparent; height:28px; width:10px;}
.attach_form .form_input_center input[type="text"] { background-color:transparent; border:medium none; color:#4A4A4A; padding:5px 0; width:100%;}
.attach_form .top_file .form_input_center input[type="text"] { text-align:center;}
.attach_form button { background:url("/main/img/button_blue.png") no-repeat 0 1px transparent; border:medium none; color:#fff; cursor:pointer; font-family:arial; font-size:12px; font-weight:bold; height:25px; margin:5px 0; text-shadow:0 -1px 0 #03410A; width:100px;}
.attach_form .top_file { background:url("/main/img/top_mail_bg.png") repeat-x 0 0 transparent; height:49px;}
.attach_form .top_file th { height:49px; background-color:transparent; color:#7F8A99; cursor:pointer; font-weight:normal; text-decoration:none;}
.attach_form .top_file tr:nth-child(even) { background-color:#F1F1F1;}
.attach_form .top_file a { color:#7F8A99; text-decoration:underline;}
.attach_form .top_file a:hover { text-decoration:none;}
.attach_form .top_file .icon_type { width:25px; display:block; height:25px;}
.attach_form .top_file .icon_type.archive { background:url("/main/img/bb_i.png") no-repeat -3px 0;}
.attach_form .top_file .icon_type.dynamic { background:url("/main/img/bb_i.png") no-repeat -28px 0;}
.attach_form .top_file .icon_type.image { background:url("/main/img/bb_i.png") no-repeat -89px 0;}
.attach_form .top_file .icon_type.music { background:url("/main/img/bb_i.png") no-repeat -110px 0;}
.attach_form .top_file .icon_type.video { background:url("/main/img/bb_i.png") no-repeat -48px 0;}
.attach_form a.mail_arrows { margin:5px 0 0; padding:0 1px; display:block;}

.bbcode_button_right, .bbcode_button_left { display:none;}

.bbcode_group { border:1px solid #b8b8b8; border-radius:3px; overflow:hidden; white-space:nowrap; font-size:.01px; display:inline-block; margin:0 3px 0 2px; vertical-align:top;}
.bbcode_group .bbcode_button_center { border-left:1px solid #b8b8b8; display:inline-block; background:url(/main/img/bb_btns.png) repeat-x 0 0;}
.bbcode_group .bbcode_button_center:hover { background-position:0 -23px;}
.bbcode_group .bbcode_button_center:first-child { border-left:none;}
.bbcode_group .bbcode_button_center a { display:block; height:23px; line-height:23px;}