<style>
    .ta-toolbar .btn-default{
        padding: 4px;
    }
</style>

<article class="col-sm-12 col-md-12 col-lg-12">

    <div class="row">
        <div class="col-xs-6">
            <h1 class="text-muted">{{cfg.title}} <span ng-if="data['id']">[{{data["name"]}}]</span>
            </h1>
        </div>

        <div class="col-xs-6 text-right" style="margin:10px 0">

            <div class="btn-group" ng-repeat="group in cfg.buttons" style="margin-right: 3px;">
                <button ng-repeat="btn in group" ng-click="buttonAction(btn.click, btn.href, btn.global)"
                        class="btn btn-default btn-{{btn.color}} hidden-mobile">{{btn.title}}</button>
            </div>

        </div>
    </div>

    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false"
         data-widget-custombutton="false">
        <div>
            <div class="widget-body no-padding">


                <form ng-submit="sendForm(data)" class="smart-form" id="item-form" method="post" enctype="multipart/form-data">

                    <fieldset>

                        <div class="col-lg-6 col-md-12" style="">

                            <fieldset>
                                <legend>Основные параметры</legend>
                                <div class="form-group" ng-repeat="field in cfg.fields"
                                     ng-hide="field == cfg.related.field" ng-if="!field.readonly && field.type != 'textAngular'">
                                    <section>

                                        <div ng-switch on="field.type">
                                            <div ng-switch-when="checkbox">
                                                <label class="toggle">
                                                    <input name="checkbox-toggle" type="checkbox"
                                                           ng-model="data[field.name]"
                                                           ng-true-value="yes"
                                                           ng-false-value="no"/>
                                                    <i data-swchoff-text="НЕТ" data-swchon-text="ДА"></i>
                                                    {{field.title}}
                                                </label>
                                            </div>

                                            <!-- <input name="checkbox-toggle" type="file"file-model="data[field.name]" /> -->

                                            <div ng-switch-when="image">
                                                <label class="label"> {{field.title}} </label>
                                                <label class="input">
                                                    <div flow-init="{target: '/ang/images/'+cfg.entity+'/'+cfg.id+'/'+field.name}"
                                                          flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]"
                                                          flow-files-submitted="$flow.upload()">
                                                        <div class="thumbnail3" ng-hide="$flow.files.length">
                                                            <img height="100" ng-src="{{data[field.name]}}" />
                                                        </div>
                                                        <div class="thumbnail3" ng-show="$flow.files.length">
                                                            <img height="100" flow-img="$flow.files[0]"/> <!--ng-model="data[field.name]" /-->
                                                        </div>
                                                        <div>
                                                            <span class="btn" flow-btn flow-attrs="{accept:'image/*'}">Выбрать картинку</span>
                                                            <!--span class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Выбрать картинку</span-->
                                                            <!--span class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</span-->
                                                            <!--span class="btn btn-danger" ng-show="$flow.files.length" ng-click="$flow.cancel()">Remove</span-->
                                                        </div>
                                                        <!--p>
                                                            Only PNG,GIF,JPG files allowed.
                                                        </p-->
                                                    </div>
                                                </label>
                                            </div>


                                            <div ng-switch-when="calendar">
                                                <label class="label"> {{field.title}} </label>
                                                <label class="input">
                                                    <link rel="stylesheet" type="text/css" href="/adm/css/jquery.datetimepicker.css" />
                                                    <script type="text/javascript">
                                                        jQuery('#datetimepicker').datetimepicker({
                                                            format:"Y-m-d H:i:s",
                                                            style:"display:none"
                                                        });
                                                    </script>
                                                    <input ng-model="data[field.name]" id="datetimepicker" type="text" />
                                                </label>
                                            </div>

                                            <div ng-switch-default>
                                                <label class="label"> {{field.title}} <i ng-if="field.type == 'array'" class="glyphicon glyphicon-plus pull-right" ng-click="data[field.name].push({ price: 100, period: 1 })"></i></label>

                                                <label class="input">
                                                    <textarea ng-if="field.type == 'textarea'" class="form-control" ng-model="data[field.name]"></textarea>
                                                    <input ng-if="!field.defList && field.type != 'textarea' && field.type != 'textAngular' && field.type != 'array'" class="input-sm" type="{{field.type}}" ng-model="data[field.name]"/>
                                                    <select ng-if="field.defList" class="form-control input-sm" ng-model="data[field.name]" ng-options="elem.value as elem.title for elem in field.defList"></select>

                                                    <div ng-if="field.type == 'array'" ng-repeat="(keyu, elem) in data[field.name] track by $index">
                                                        <i ng-if="field.type == 'array'" class="glyphicon glyphicon-minus pull-right" ng-click="data[field.name].splice(data[field.name].indexOf(elem), 1)"></i>
                                                        <div ng-repeat="(key, f) in elem track by $index" ng-if="key == 'price' || key == 'period'">
                                                            {{key == 'period'? 'Продолжительность': 'Цена' }} <br/>
                                                            <input ng-model="data[field.name][keyu][key]"/>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>

                                    </section>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-lg-6 col-md-12">
                            <fieldset>
                                <legend>Информация</legend>
                                <table class="table table-striped">
                                    <tbody>
                                    <tr ng-repeat="f in cfg.fields" ng-if="f.readonly">
                                        <td> {{f.title}}</td>
                                        <td ng-if="!f._get">{{data[f.name]}}</td>
                                        <td ng-if="f._get">{{data[f.name][f._get]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </fieldset>


                        </div>

                        <div class="col-lg-6 col-md-12" ng-repeat="field in cfg.fields" ng-if="field.type == 'textAngular'" style="width: 98%; padding: 15px;">
                            <label style="margin-bottom: 5px;">{{field.title}}</label>

                            <div wiki-editor model-name="data[field.name]" textarea-id="ae_article_announcement"/>
                        </div>

                        <div class="col-lg-12 col-md-12" ng-if="cfg.related">
                            <fieldset>
                                <legend> {{ cfg.related.name }}</legend>

                                <div style="">
                                    <!--<div style="margin-top: -21px;">-->
                                    <table class="table table-striped">
                                        <tbody>
                                        <tr ng-repeat="rData in data[cfg.related.field]">
                                            <td ng-repeat="f in cfg.related.fieldsList" class="{{$index > 0? 'text-right': ''}}">
                                                {{rData[f]}}
                                            </td>
                                            <td width="30">
                                                <a href="#{{cfg.related.url}}/{{rData.id}}" class="text-right btn btn-xs btn-success">
                                                    <i class="glyphicon glyphicon-edit"></i>
                                                </a>
                                            </td>
                                            <td width="30">
                                                <a ng-click="deleteItem( rData)" class="btn btn-xs btn-danger pull-right">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </fieldset>
                        </div>


                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</article>
