<!--<div>-->

    <!--<div ng-if="isCollection">-->

        <div class="row">
            <div class="form-group col-md-3">
                <h1 class="page-title txt-color-blueDark"><i class="fa fa-tasks fa-fw "></i> {{cfg.title}}</h1>
            </div>
            <div class="col-md-9 text-right">
                 <a ng-repeat="btn in cfg.buttons" ng-click="buttonAction(btn.click)" ng-href="{{btn.href}}" class="btn btn-{{btn.color}} pull-right header-btn hidden-mobile">{{btn.title}}</a>
            </div>
        </div>
        <!--user-filter></user-filter-->
        <div class="row">
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                <input type="text" class="form-control" placeholder="Поиск" ng-model="searchstr" ng-change="search()">

                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">

                    <div infinite-scroll="loadPage(searchstr)" infinite-scroll-disabled="loading" infinite-scroll-distance='2' infinite-scroll-immediate-check='true'>

                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->

                        </div>
                        <div class="widget-body no-padding" style="min-height: 40px;">
                            <div class="jarviswidget-editbox">
                                <!-- This area used as dropdown edit box -->
                            </div>

                            <table id="datalist" class="table table-striped table-bordered table-hover" width="100%">
                                <thead>
                                <tr>
                                    <th width="10">
                                        <span class="input-td">
                                            <label>
                                                <input type="checkbox" ng-model="markedAllToDelete" ng-click="markAllToDelete( markedAllToDelete)"
                                                       class="checkbox style-0">
                                                <span></span>
                                            </label>
                                        </span>
                                    </th>
                                    <th ng-repeat="field in cfg.fields">
                                        <a ng-if="!field._get && field.type != 'execute' || field.name == 'getOperation'" ng-click="sortChange( field.name)" style="cursor: pointer">
                                            {{field.title}}
                                            <div ng-if="sortField == field.name || (sortField == 'getOperation' && field.name == 'getOperation')" style="display: inline; width: 20px;">
                                                <i ng-if="revs == false" class="glyphicon glyphicon-chevron-up"></i>
                                                <i ng-if="revs ==  true" class="glyphicon glyphicon-chevron-down"></i>
                                            </div>
                                        </a>

                                        <div ng-if="(field._get || field.type == 'execute') && field.name != 'getOperation'">{{field.title}} </div>
                                    </th>
                                    <th  ng-if="!cfg.disableOperations" width="100">Действия</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--(sortField == 'getOperation' ? 'type' : sortField): revs-->
                                <tr ng-repeat="item in data | orderBy: sortField: revs">
                                    <td>
                                        <span class="input-td">
                                            <label>
                                                <!-- item.delete - bool -->
                                                <input type="checkbox" ng-model="item.delete" class="checkbox style-0">
                                                <span></span>
                                            </label>
                                        </span>
                                    </td>
                                    <td ng-repeat="field in cfg.fields">
                                        <div ng-if="field.type == 'execute'" ng-bind-html="execute( field.name, item)"></div>
                                        <a ng-if="field.href && !field._get" ng-href="{{parse(field.href, item.id)}}">
                                            {{ field.middle && item[field.name]? field.middle[item[field.name]] : item[field.name]}}
                                        </a>
                                        <div ng-if="(field.type != 'image') && !field.href && !field._get && !field.is_editable">
                                            {{ field.middle && item[field.name]? field.middle[item[field.name]] : item[field.name]}}
                                        </div>
                                        <div ng-if="field.is_editable">
                                            <edit-field edit-type="field.edit_type" field="field" item-val="item[field.name]" item-id="item['id']"></edit-field>
                                        </div>
                                        <div ng-if="field._get"> {{ item[field.name][field._get]}}  </div>
                                        <div ng-if="field.type == 'image'">
                                            <img height="50" ng-src="{{item[field.name]}}" />
                                        </div>
                                    </td>

                                    <td ng-if="!cfg.disableOperations">
                                        <a href="#{{cfg.itemUrl}}/{{item.id}}"
                                           class="text-right btn btn-xs btn-success">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                        <a ng-if="cfg.download" target="_blank" ng-href="{{cfg.download}}{{item.id}}" class="text-right btn btn-xs btn-primary">
                                            <i class="glyphicon glyphicon-download"></i>
                                        </a>
                                        <a  ng-if="!cfg.disableDelete" ng-click="deleteItem(item.id)"
                                           class="text-right btn btn-xs btn-danger">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div ng-show="loading && !complete" style="margin: 20px 20px 30px;">
                            <i class="fa fa-refresh"></i><span> Загрузка...</span>
                        </div>

                    </div>
                </div>
            </article>
        </div>

    <!--</div>-->
<!--</div>-->


