<style xmlns="http://www.w3.org/1999/html">
    .borderless {
        border: 0;
        border-style: solid none solid none !important;
    }

    textarea{

        font-size: 12px;
        line-height: 1.5;
        height: 100px !important;
    }
</style>

<div>
    <div ng-if="isCollection">
        <div ng-include src="'adm/partials/_list.html'"></div>
    </div>


    <div ng-if="!isCollection" class="row">
        <div ng-include src="'adm/partials/_item.html'"></div>
    </div>
</div>

<!-- НОВЫЙ СВЯЗАННЫЙ ЭЛЕМЕНТ -->
<script type="text/ng-template" id="myNewModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title">
            {{cfg.title}} "{{data.name}}"</h3>
    </div>
    <div class="modal-body" heigth-razer="260">

        <div style="margin-top: -21px; width: 100%;">
            <!--p>Добавляем новую связанную информацию</p-->
            <div class="row">
                <form ng-submit="sendForm(data)" class="smart-form" id="item-form" method="post" enctype="multipart/form-data">

                    <fieldset>

                        <div class="col-lg-6 col-md-12" style="">

                            <fieldset>
                                <legend>Основные параметры</legend>
                <div class="form-group" ng-repeat="field in cfg.fieldsForm track by $index"
                    ng-if="!field.readonly && field.type != 'textAngular'">
                    <section>

                        <div ng-switch on="field.type">
                            <div ng-switch-when="checkbox">
                                <label class="toggle">
                                    <input name="checkbox-toggle" type="checkbox"
                                           ng-model="data[field.name]"
                                           ng-true-value="yes"
                                           ng-false-value="no"/>
                                    <i data-swchoff-text="НЕТ" data-swchon-text="ДА"></i>
                                    {{field.title}}
                                </label>
                            </div>

                            <div ng-switch-when="image">
                                <label class="input">
                                    {{field.title}}
                                    <!--

                                    тут будет flow-init

                                    <input name="checkbox-toggle" type="file"file-model="data[field.name]" /> -->
                                </label>
                            </div>

                            <div ng-switch-when="calendar">
                                <label class="input">
                                    <link rel="stylesheet" type="text/css" href="/adm/css/jquery.datetimepicker.css" />
                                    <!--script type="text/javascript">
                                        jQuery('#datetimepicker').datetimepicker({
                                            format:"Y-m-d H:i:s"
                                        });
                                    </script-->
                                    {{field.title}}
                                <input ng-model="data[field.name]" id="datetimepicker" type="text" />
                                </label>
                            </div>

                            <div ng-switch-default>
                                <label class="label"> {{field.title}} <i ng-if="field.type == 'array'" class="glyphicon glyphicon-plus pull-right" ng-click="data[field.name].push({ price: 100, period: 1 })"></i></label>

                                <label class="input">
                                    <textarea ng-if="field.type == 'textarea'" class="form-control" ng-model="data[field.name]"></textarea>
                                    <input ng-if="!field.defList && field.type != 'textarea' && field.type != 'textAngular' && field.type != 'array'" class="input-sm" type="{{field.type}}" ng-model="data[field.name]"/>
                                    <select ng-if="field.defList" class="form-control input-sm" ng-model="data[field.name]" ng-options="elem.value as elem.title for elem in field.defList"></select>

                                    <div ng-if="field.type == 'array'" ng-repeat="(keyu, elem) in data[field.name] track by $index">
                                        <i ng-if="field.type == 'array'" class="glyphicon glyphicon-minus pull-right" ng-click="data[field.name].splice(data[field.name].indexOf(elem), 1)"></i>
                                        <div ng-repeat="(key, f) in elem track by $index" ng-if="key == 'price' || key == 'period'">
                                            {{key == 'period'? 'Продолжительность': 'Цена' }} <br/>
                                            <input ng-model="data[field.name][keyu][key]"/>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </section>
                </div>

                            </fieldset>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveItem()">Создать</button>
        <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
    </div>
</script>

<!-- новая отметка на карте -->
<!--script type="text/ng-template" id="myModalContent.html">

    <div class="modal-header">
        <h3 class="modal-title">
            {{cfg.title}} "{{data.name}}"</h3>
    </div>
    <div class="modal-body" heigth-razer="260">

        <div class="input-group" ng-if="cfg.search">
            <input class="form-control" type="text" placeholder="Поиск" ng-model="searchStr" ng-change="searchstrchanged()"/>

            <div class="input-group-btn">
                <button class="btn btn-default" ng-click="searchOn()"> <i class="glyphicon glyphicon-search"></i></button>
                <button class="btn btn-default" ng-click="searchOff()"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
        </div>

        <!--<h6 class="right" ng-if="package.length"> Добавленые <b>({{package.length}})</b></h6>-->

        <!--div ng-if="!relatedData.length && !searchData.length && !loading">
            <h2> {{cfg.name}} не найдены </h2>
        </div>
        <table class="table table-striped table-bordered" ng-if="relatedData.length || searchData.length"
               style="margin-top:7px;">
            <thead>
                <tr class="borderless">
                    <th class="borderless">{{cfg.name}}</th>
                    <th class="borderless"><div class="right" ng-if="package.length"> Добавленые <b>({{package.length}})</b></div></th>
                </tr>
            </thead>
        </table>
        <div style="margin-top: -21px; width: 100%;" ng-if="!searching" ng-hide="loading" scroll="uploadAnotherPage()"
             heigth-razer="{{cfg.search? '320' : '305'}}">
            <table class="table table-striped table-bordered table-hover" >
                <tbody>
                <tr ng-repeat="rd in relatedData" ng-click="rd.add = !rd.add; addToPackage( rd.add, rd)" class="borderless">
                    <td class="borderless">
                        <div class="text-overflow">{{rd.name}}</div>
                    </td>
                    <td class="borderless">
                        <div class="text-overflow" style="width: 130px;"> {{rd.album.name? rd.album.name: ''}}</div>
                    </td>
                    <td style="width: 85px;" class="borderless">
                        <div class="pull-right">
                            <i ng-if="!rd.add" class="pull-right glyphicon glyphicon-plus"></i>
                            <i ng-if="rd.add" class="pull-right glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="pull-right" style="margin-right: 10px;"> {{rd.timelengthStr}}</div>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top: -21px; width: 100%;" ng-if="searching" ng-hide="loading" scroll="search( searchStr)"
             heigth-razer="{{cfg.search? '320' : '305'}}">
            <table class="table table-striped table-bordered table-hover">
                <tbody>
                <tr ng-repeat="rd in searchData" ng-click="rd.add = !rd.add; addToPackage( rd.add, rd)"  class="borderless">
                    <td  class="borderless">
                        <div class="text-overflow">{{rd.name}}</div>
                    </td>
                    <td  class="borderless">
                        <div class="text-overflow" style="width: 130px;"> {{rd.album.name? rd.album.name: ''}}</div>
                    </td>
                    <td style="width: 85px;"  class="borderless">
                        <div class="pull-right">
                            <i ng-if="!rd.add" class="pull-right glyphicon glyphicon-plus"></i>
                            <i ng-if="rd.add" class="pull-right glyphicon glyphicon-ok"></i>
                        </div>
                        <div class="pull-right" style="margin-right: 10px;"> {{rd.timelengthStr}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="add()">Готово</button>
        <button class="btn btn-warning" ng-click="cancel()">Отмена</button>
    </div>
</script-->

