<div>
    <div ng-if="editType=='popup'" ng-click="popupEdit()" style="width:100%; height: 100%">
        {{$parent.itemVal}}
    </div>
    <div ng-if="editType=='select'">
        <select ng-model="$parent.itemVal" ng-options="k as v for (k, v) in field.middle"
                ng-change="selectEdit()"></select>
    </div>
    <div ng-if="editType=='text'">
        <span ng-hide="showInput" ng-click="showInput=true">{{itemVal}}</span>
        <input ng-show="showInput" type="text" ng-set-focus="showInput" ng-blur="showInput=false;"
               ng-enter="showInput=false; editText()" ng-model="$parent.itemVal"/>

    </div>

    <div ng-if="editType=='text_to_select'">
        <select multiple ng-model="$parent.itemVal" ng-options="k as v for (k, v) in field.middle"
                ng-change="selectEditText()"></select>
    </div>

</div>






