<style xmlns="http://www.w3.org/1999/html">
    .filter {
        padding: 5px;
        margin: 0;
        background-color: #eee;
        border: 1px solid #999;
    }

    .filter .cont {
        font-size: 11px;
        color: #E1E1E1;
        background-color: #03404E;
        padding: 0 16px;
        zoom: 1;
    }

    .filter .top {
        background-image: url(../../skins/cjclub/images/box_top.png);
    }

    .filter .top, .filter .bottom {
        background-repeat: no-repeat;
        width: 290px;
        height: 14px;
    }

    .filter .bottom {
        background-image: url(../../skins/cjclub/images/box_bottom.png);
    }

    .filter .title {
        padding: 5px 50px 0px 5px;
        font: bold 14px Arial;
        margin: 0
    }

    .filter label {
        display: block;
        margin: 0 0 6px;
        padding-top: 9px;
    }

    .filter form {
        padding: 0;
        margin: 0
    }

    .filter input, .filter select {
        margin-bottom: 9px;
        clear: all;
        font-size: 11px;
        font-family: Arial;
        display: block;
    }

    .filter button {
        font-weight: bold;
        display: block;
        font-size: 12px;
        font-family: Arial;
        cursor: pointer;
        padding: 5px;
    }

</style>
<div class="filter" >
    <input type="button" value="{{ hideFilter ? 'Показать'  :'Спрятать' }} Фильтр" ng-click="toggleFilter()"/>
    <div ng-hide="hideFilter">
    <div id="title" class="title">Фильтр</div>
        <span class="dfFormElement dfTextInput"><label for="">Логин</label>
            <input type="text" name="login" ng-model="searchModels.login" autocomplete="off"
                   style="width: 200px;"></span>
        <span class="dfFormElement dfTextInput">
            <label for="">Авторский ник (псевдоним)</label>
             <input type="text" ng-model="searchModels.name" style="width: 200px;" placeholder="" typeahead="users.name for users in getUsers($viewValue)" >
            <!--<input type="text" name="name" autocomplete="off" ng-model="searchModels.name" style="width: 200px;">-->
        </span>
        <span class="dfFormElement dfTextInput"><label for="">E-mail</label>
            <input type="text" name="email" ng-model="searchModels.email" autocomplete="off"
                   style="width: 200px;"></span>
        <span class="dfFormElement dfSelector"><label for="">Тип</label>
            <select id="" name="type_id" ng-model="searchModels.type_id">
                <option value="" selected="selected"></option>
                <option value="1">Администратор</option>
                <option value="2">Новичек</option>
                <option value="3">Продвинутый</option>
                <option value="4">Опытный</option>
                <option value="5">Профи</option>
                <option value="00">Регистрируется</option>
                <option value="7">usertype_developer</option>
                <option value="8">Лейблы-черновики</option>
                <option value="9">Одобренные лейблы</option>
                <option value="10">Лейблы на рассмотрении</option>
            </select></span>
    <span><button type="button" ng-click="seachUsers()" style="display: inline-block;">Применить</button></span>
    <span><button type="button" ng-click="clearFilter()" style="display: inline-block;">Очистить</button></span>
    </div>
</div>