<div>
	<div class="wys_editor">
	    <textarea class="wiki_editor" ng-model="modelName" id="{{textareaId}}" name="{{textareaName}}" ng-keydown="onKeydown($event)"></textarea>
	</div>
	<div class="markItUpPreview" ng-bind-html="renderHtml(modelName)" ng-show="showpreview"></div>
</div>